/* CALENDAR */

#cal-view {
    border-right: 1px solid #ccc;
    
    @media (max-width: 768px) {
        border: 1px solid #ccc;
        margin-top: 30px;
    }
}

.hour, .day-header {
    height: 50px;
    border-bottom: 1px solid #ccc;
}

.hour {
    &:nth-child(even) {
        background-color: #eee;
    }
    .day {
        font-size: 8pt;
        padding: 5px;
    }
    
}

.day {
    height: 100%;
    border-left: 1px solid #ccc;
    text-align: center;
    
    &.conflict {
        border: 3px solid red;
    }
}

.day-header {
    font-size: 12pt;
    line-height: 50px;
    .day {
        padding: 0px 5px;
    }
}

.timeslot {
    font-size: 12pt;
    text-align: right;
    padding-right: 5px;
    padding-top: 5px;
}
